*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header nav, body {
    background-image: url("../img/fondo2.jpg");
    background-repeat: no-repeat; /* Esto hará que la imagen se repita solo verticalmente */
    background-size: 100%;
    background-attachment: fixed; /*Para fijar la imagen*/
    
}


/* Estilos para el pseudo-elemento */
.header::before{
    content: ""; /* Añade contenido al pseudo-elemento */
    position: absolute; /* Posición absoluta para cubrir toda la imagen de fondo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/fondo2.jpg"); /* Define la imagen de fondo */
    background-repeat: no-repeat; /* Esto hará que la imagen se repita solo verticalmente */
    background-size: 100%;
    background-attachment: fixed; /* Para fijar la imagen */
    filter: blur(5px); /* Aplica un filtro de desenfoque a la imagen de fondo */
    z-index: -1; /* Asegura que el pseudo-elemento esté detrás del contenido del elemento principal */
}
.input{
    padding-left: 1vh;
}
/* CABECERA ********************************** */
/* NAV */
/* Estilos para el botón */
.btn-usu {
    background-color: #00285da2;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 1vh;
  }
  
.btn-usu .user-info {
    display: inline;
    font-size: 15px;
    background-color: unset;
}

.btn-usu :hover {
    cursor: pointer;
}
  /* Estilos para el contenido del menú desplegable */
  .content-usu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Estilo para mostrar el menú desplegable */
  .content-usu.show {
    display: block;
  }
  
  /* Ajuste del ancho del menú desplegable al botón */
  .btn-usu + .content-usu {
    width: auto; /* O puedes ajustar esto a un valor específico si lo prefieres */
  }
  
  /* Estilos para los enlaces dentro del menú desplegable */
  .content-usu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: start;
    display: block;
    font-size: 10px;
  }
  
  /* Estilos para los enlaces dentro del menú desplegable al pasar el mouse */
  .content-usu a:hover {
    background-color: #aeabab75;
  }
  .content-usu a i{
    display: inline-block; /* Mostrar el icono */
  }
  .content-usu a:hover i {
    margin-right: 0.25vh;
}
  .content-usu a.gestusu:hover{
    text-align: start;
    font-size: 11px;
    color: black;
  }
  .content-usu a.logout-usu:hover{
    color: red;
    background-color: rgba(255, 0, 0, 0.16);
    font-size: 11px;
    cursor: pointer;
  }

  .content-usu-admin {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: auto;
  }
  
  /* Estilo para mostrar el menú desplegable */
  .content-usu-admin.show {
    display: block;
  }
  
  /* Ajuste del ancho del menú desplegable al botón */
  .btn-usu + .content-usu-admin {
    width: auto; /* O puedes ajustar esto a un valor específico si lo prefieres */
  }
  
  /* Estilos para los enlaces dentro del menú desplegable */
  .content-usu-admin a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: start;
    display: block;
    font-size: 10px;
  }
  
  /* Estilos para los enlaces dentro del menú desplegable al pasar el mouse */
  .content-usu-admin a:hover {
    background-color: #aeabab75;
  }
  .content-usu-admin a i{
    display: inline-block; /* Mostrar el icono */
  }
  .content-usu-admin a:hover i {
    margin-right: 0.25vh;
}
  .content-usu-admin a.gestusu:hover{
    text-align: start;
    font-size: 10px;
    color: black;
  }
  .content-usu-admin a.logout-usu:hover{
    color: red;
    background-color: rgba(255, 0, 0, 0.16);
    font-size: 11px;
    cursor: pointer;
  }
  
/*                                      MENU                                 */
header {
    width: auto;
}
header nav {
    display: flex;
    background-color: #9e9e9e3f;
    text-align: right;
    align-items: center;    
    justify-content: space-between;
    padding: 3vh 3vw;
}
header img {
    height: 50px;
    width: auto;
}

header ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
}

header ul li a{
    text-decoration: none;
    color: #fafdff;
}

header li:hover,
header li a:hover {
    color: #ababab; 
}

/*BUSCAR          AÑADIR EXPORTAR IMPORTAR                  FILTRO*/

header div {
    padding: 1vh;
    display: flex;
    color: white;
    background-color: #00295d;
    width: 100%;
}

header div .new_product{
    flex-wrap: wrap;
}

.fa-solid fa-magnifying-glass{
    color: white;
}
head div div{
    width: 32vw;
    
}

/*Buscar   */
#buscar , #buscarhis , #buscarusu{
    display: flex;
    justify-content: left;
    align-items: center;
}
#buscar input , #busquedahis , #busquedausu{
    font-size: medium;
    width: 70vh;
    height: 4vh;
    padding-left: 1vh;
    margin-right: 1vh;

}
#buscar button, #btn_busquedahis , #btn_busquedausu{
    font-size: medium;
    width: 4vh;
    height: 4vh;
}
header div input::placeholder{
    text-align: center;
}
/*                               ICONOS                                       */
#botones button{
    display:inline;
    font-size: large;
    padding: 1vh;
    color: #00295d;
    margin-right: 1vh;
}
#botones button:hover{
    background-color: #08172a;
    color: #fff;
}

button:hover{
    cursor: pointer;
}
input[type="checkbox"]:hover, #myDropdown input label:hover {
    cursor: pointer; /* Cambia el cursor al pasar sobre un checkbox */
}

/*                          BOTON IMPORTAR              */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
    color: #000;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Adjusted width */
}

.input-box {
    max-height: 150px; /* Altura máxima del div que contiene el textarea */
    overflow: auto; /* Para habilitar el desplazamiento vertical si el contenido excede la altura máxima */
}

.input-box textarea {
    max-height: 100%; /* El textarea no puede ser más alto que su contenedor */
    width: 100%; /* Ajustar el ancho del textarea al 100% del contenedor */
}


.container .center span , .popup-container .center span {
    color: #aaa;
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: right;
    padding: 10px;
}

.close {
    color: #aaa;
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

#fileCount {
    margin-top: 20px;
    margin-bottom: 20px;
}

#uploadForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fileInput {
    margin-bottom: 10px;
}

#uploadForm button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

/*           FILTRO                                                  */
/*Estilo del botón*/
header .dropbtn{
    /* display: flex;
    justify-content: right; */
    display: none;
}

.dropbtn {
    background-color:white ;
    color:#00295d ;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Contenedor del botón desplegable */
.dropdown {
    position: relative;
    display: none;
}

/* Contenedor del botón desplegable */
 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    column-count: 2; /* Divide en dos columnas */
} 


/* Opciones del botón desplegable */
 .dropdown-content label {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Estilos para los iconos */
.fa-solid {
    cursor: pointer;
}


/*                 TABLA            */
.table {
    border-collapse: collapse;
    font-size: 13px;
    margin-left: 0.3vh;
    margin-right: 0.3vh;
    width: -webkit-fill-available;
}
.table,
.table th,
.table td {
    border: 1px solid #ccc;
    overflow: auto;
}
.table th,
.table td {
    padding: 0.5rem;
}
.table tr {
    background-color:  #fafdff;

}
.table th {
    position: relative;
    overflow: hidden;
}

/*head tabla*/
#tabla th {
    position: relative;
    white-space: nowrap;
  }
  
  #tabla th span {
    display: inline-block;
    cursor: pointer;
  }
  
  #tabla th i {
    cursor: pointer;
  }



/* Establece el borde solo para la primera fila */
tr:first-child td {
    border-bottom: 1px solid rgb(149, 150, 166); ; /* Borde inferior para las celdas de la primera fila */
    border-left: 1px solid rgb(149, 150, 166); ; /* Borde izquierdo para las celdas de la primera fila */
    border-right: 1px solid rgb(149, 150, 166); ; /* Borde derecho para las celdas de la primera fila */
  }
  
  /* Elimina el borde vertical para las celdas de las filas siguientes */
  tr:not(:first-child) td {
    border-left: none; /* Elimina el borde izquierdo para las celdas de las filas siguientes */
    border-right: none; /* Elimina el borde derecho para las celdas de las filas siguientes */
    border-bottom: 1px solid rgb(149, 150, 166);  /* Borde inferior para las celdas de las filas siguientes */
  }
/* Estilo para las filas impares */
tr:nth-child(odd) {
    background-color: #fbfbfb; /* Cambia el color de fondo para las filas impares */
  }
  
  /* Estilo para las filas pares (opcional) */
  tr:nth-child(even) {
    background-color: #e3e3e3; /* Cambia el color de fondo para las filas pares (opcional) */
  }
  
#tabla #encabezado , #encabezadohis, #tabla_gestion_usu #encabezado_usuarios {
    /* Cambia el color de fondo del primer tr */
    background-color: rgb(149, 150, 166); 
    font-size: 16px;
}

#tabla #encabezado .columna-nombre , #encabezadohis {
    width: 200px; /* Cambia el tamaño de la columna Nombre a 200px */
}

.resizer {
    position: absolute;
    top: 0;
    right: -2.5px; /* Ajusta el posicionamiento para que esté alineado con el borde derecho */
    width: 5px; /* Aumenta la anchura para que sea más fácil de agarrar */
    cursor: col-resize;
    user-select: none;
    z-index: 1; /* Asegúrate de que el controlador esté encima de las celdas */
}

.resizer:hover,
.resizing {
    z-index: 2; /* Asegúrate de que el controlador resaltado esté encima de todo */
}


/*Boton modificar*/
#popupModificar{
    width: 0%;
}

td .get-product{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

button.btn-editarcantidad{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    font-size: 17px;
    color: #00295d;
}

/*GEstion usuarios*/
.btn-add-user {
    background-color: #00285da2;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 1vh;
}

.btn-add-user:hover{
    background-color: white;
    color: #00295d;
    /* Otros estilos de hover si los necesitas */
}

.btn-modificarcontraseña {
    padding: 2px;
    margin-left: 10px;
}
.btn-borrarusuario{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    font-size: 17px;
    color: #00295d;
}

/* Estilos para dispositivos de escritorio (24") */
@media only screen and (min-width: 1440px) {
    header nav,
    body {
        background-image: url("../img/fondo2.jpg");
        background-repeat: no-repeat; 
        background-size: cover; /* Hace que la imagen de fondo cubra toda el área disponible */
        background-attachment: fixed;
    }

    
}
@media only screen and (max-width: 768px) and (min-width: 1439.5px) {
    header nav,
    body {
        background-image: url("../img/fondo2.jpg");
        background-repeat: no-repeat; 
        background-size: cover;
        background-attachment: fixed;
        margin: 0; /* Asegúrate de que no haya margen en el cuerpo */
        padding: 0; /* Asegúrate de que no haya relleno en el cuerpo */
    }
}

/* Estilos para tablet */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
    /* Ajustes de estilos para tablet */
    header nav,
    body {
        background-image: url("../img/fondo2.jpg");
        background-repeat: no-repeat; 
        background-size: cover;
        background-attachment: fixed;
    }

    /* Ajustes específicos para tablet */
    #navegador {
        
    }
    #buscar {
        display: flex;
        justify-content: center; /* Centra horizontalmente los elementos */
        align-items: center; /* Centra verticalmente los elementos */
        margin-bottom: 20px; /* Añade margen inferior */
    }

    #botones {
        display: flex;
        justify-content: center; /* Centra horizontalmente los elementos */
        align-items: center; /* Centra verticalmente los elementos */
    }

    #botones button {
        margin: 10px; /* Añade margen entre los botones */
    }
}


/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
    /* Ajustes de estilos para dispositivos móviles */
    header nav,
    body {
        background-image: url("../img/fondo2.jpg");
        background-repeat: no-repeat; 
        background-size: cover;
        background-attachment: fixed;
    }
#buscar input {
        width: 80%; /* Reduce el ancho del campo de búsqueda */
    }
    
}
